<!DOCTYPE html>
<html>
<head>
	<title>index2</title>
	<% if (!this.isDebug) {%>
		<%=_extFn.importFiles(this.JCSTATIC_BASE,[
		    'reactproj:styles'
		    ], 'css')%>
	<%}%>
</head>
<body>
	<div id="reactApp">
	</div>

	<!-- 线上直接引用build好的js -->
	<% if (!this.isDebug) {%>
		<%=_extFn.importFiles(this.JCSTATIC_BASE,[
		    'reactproj:lib.bundle'
		    ], 'js')%>

		<%=_extFn.importFiles(this.JCSTATIC_BASE,[
		    'reactproj:app2.bundle'
		    ], 'js')%>
	<%} else {%>
		<!-- 本地使用express提供的js -->
		<script src="http://0.0.0.0:3000/static/js/app2.bundle.js"></script>
	<%}%>
	
</body>
</html>